.listItems{
    margin-bottom: 25px;
    .arrow{
        font-size: 20px;
        // color: ;
        opacity: 0.5;
        z-index: 1;
    }
    .spanArrow{
        display: inline-block;
        height: 21px;
        width: 20px;
        align-items: center;
        position: absolute;
        cursor: pointer;
        background: #F1F1F1;
        border: 0.5px solid hsl(0, 0%, 80%);
        
    }
    .carouselLeftNav{
        left: 0px;
        border-top-right-radius: 6px;
        border-bottom: none;
    }
    .carouselRightNav{
        right: 0px;
        border-top-left-radius: 6px;
        border-bottom: none;
    }
    
    ul{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        li{
            list-style: none;
            border: 0.5px solid hsl(0, 0%, 80%);
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom: none;
            padding: 3px 4px;
            background: #F1F1F1;
            flex-shrink: 0;
            &:hover{
                cursor: pointer;
            }
            &:last-child{
                background: #F1F1F1;
                padding: 3px 8px;
            }
        }
        .liActive{
            background: #F1F1F1;
        }


    }
}