.right{
    width: 100%;
    .contentWrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        margin-top: 20px;
    }
    .section{
        width: 100%;
        .skills{
            width: 100%;
            padding: 15px 0px;
        }
    }
    .btn-cmn{
        margin: 5px 10px;
        background-color: #EFEFEF;
    }
   
}