.header{
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    transition:all ease 0.5s;
    z-index: 2;
    background: #404654;
    color: #D7DADC;
    backdrop-filter: blur(3.5px);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(3.5px);
    .contentWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
    }
    .logo{
        cursor: pointer;
        a{
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            color: #D7DADC;
            text-decoration: none;
        }
    }
    .menuItems{
        list-style-type: none;
        align-items: center;
        display: flex;
    }
    .menuItem{
        a{
            height: 50px;
            display: flex;
            align-items: center;
            margin: 0 15px;
            font-weight: 700;
            font-size: 11px;
            letter-spacing: 1px;
            line-height: 20px;
            text-transform: capitalize;
            text-decoration: none;
            position: relative;
            color:#D7DADC;
            &:hover{
                color: #19927A;
                cursor: pointer;
            }   

        }
        
    }
}